<div id="refine-search" class="clearfix">
  <%= form_tag root_url, :method => 'get' do %>
    <div class="location-filter pull-left">
      <label for="location"><span>Location</span></label>
      <%= text_field_tag :location, params[:location] %>
    </div>
  <% end %>
  <ul class="categories-filter pull-right">
    <% Category.all.each do |category| %>
      <li class="<%= category.name.downcase %>">
        <label for="<%= category.name %>"><%= category.name %></label>
        <%= check_box_tag category.name %>
      </li>
    <% end %>
  </ul>
</div>