<div class="content">
  <h2><%= @offer.title %></h2>
  <%= image_tag @offer.photo.wide_thumb, :class => "offer-image" %>
  <div class="description">
    <%= @offer.description %>
  </div>
  <div class="category <%= @offer.category.css_name %> active">
    <%= @offer.category.name %>
  </div>
  
  <div class="published-date">
    <span class="label">Published:</span>
    <span class="date"><%= @offer.updated_at.strftime("%d %B %Y") %></span>
  </div>

  <a class="num-bids" href=""><span>number of Bids: </span>7</a>

	<%= link_to 'Bid', "#new_bid_form", :class =>'bid-button','data-controls-modal' => 'new_bid_form', 'data-backdrop' => 'static'%>

</div>
<div id="new_bid_form" class="fade modal">
  <div class="modal-header">
    <a href="#" class="close">×</a>
    <h3>Message?</h3>
  </div>
  <%= render :partial => "bid_modal_form" %>
</div>