<div class="topbar">
  <div class="fill">
    <div class="container">
      <a href="/" class="title">Freesbee</a>
      
      <%= link_to 'Give', "#new_offer_form", :class => 'brand', 'data-controls-modal' => 'new_offer_form', 'data-backdrop' => 'static'%>
      <%= link_to 'Offers', offers_path, :class => 'brand' %>

      <ul>
        <% if user_signed_in? %>
          <li>
          Logged in as <%= current_user.name %>
          </li>
          <li>
          <%= link_to('Sign out', signout_path) %>        
          </li>
        <% else %>
          <li>
          <%= link_to('Sign in', signin_path)  %>  
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>