<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Freesbees, the market place for free stuff</title>
    <meta name="description" content="Freesbees, the market place for free stuff">
    <meta name="author" content="Freesbee Team">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <% body_class = [user_signed_in? ? 'signed-in' : 'not-signed-in'] %>
  <% 
    if (controller.class.name == "OffersController")
      if (action_name == "show")
        body_class << "offer-show-page"
      elsif (action_name == "index")
        body_class << "offers-listing-page"
      end
    else
      "page"
    end %>
  <body class="<%= body_class.join(" ")%>">
    <%= render :partial => "layouts/header" %>
    <div id="wrapper">
      <%= yield %>
      <div id="new_offer_form" class="fade modal">
        <div class="modal-header">
          <a href="#" class="close">×</a>
          <h3>What are you giving out?</h3>
        </div>
        <%= render :partial => "modal_form" %>
      </div>
    </div>
    <footer>
      <%= render :partial => "layouts/footer" %>
    </footer>
    
  </body>
</html>